{% extends 'managermaster.html' %}
{% block content %}
    <div class="list-group">
    <a href="{% url 'apidoc_view' %}" class="list-group-item active" data-toggle="tooltip" data-placement="bottom" title=""
                           data-original-title="User Guide">REST API User Guide
        </a>
        <a href="{% url 'api_view' %}post" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title=""
                           data-original-title="DATA: post_tittle,post_content">
            Post Api
        </a>
        <a href="{% url 'api_view' %}category" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title=""
                           data-original-title="DATA: cat_name">Category Api
        </a>
        <a href="{% url 'api_view' %}user_register" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title=""
                           data-original-title="DATA: username,password,email">User Register
        </a>
        <a href="{% url 'api_view' %}login" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title=""
                           data-original-title="DATA: username,password">Login Api
        </a>
        <a href="{% url 'api_view' %}logout" class="list-group-item">Logout Api
        </a>
        <a href="" class="list-group-item">For Comment Api URL: api/comment/(pk=POST PK)/
        </a>
        <a href="" class="list-group-item">For Comment Verify Api URL: api/comment_verify/(pk=COMMENT PK)/
        </a>
        <a href="" class="list-group-item">For Comment Delete Api URL: api/comment_delete/(pk=COMMENT PK)/
        </a>

    </div>
{% endblock %}