{% extends 'managermaster.html' %}
{% block content %}
    <div class="container" style="padding-left: 15px;padding-right: 15px;margin-left: auto;margin-right: auto">
        <div class="page-header"><h1>REST API User Guide</h1></div>
        <p class="lead">Our Web API provides client applications with fast and reliable access to EGEMBLOG.</p>

        <div class="row">
            <div class="col-lg-4">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Guide Content</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>User Register Api</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Login Api</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Logout Api</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Category Api</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Post Api</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Comment Api</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-4">
                <blockquote>
                    <p>Make sure all requirements installed!</p>

                    <p>Base Api URL: http://HOST:PORT/api/</p>
                    <small>Tip: requirement.txt</small>
                </blockquote>
            </div>


        </div>


        <div class="row">
            <div class="page-header"><h3>User Register Api</h3></div>
            <p>User can register to blog with <a href="{% url 'api_view' %}user_register">this</a> api.</p>

            <p>Example Usage:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    curl --data "username=test&password=test&email=a@a.com" http://127.0.0.1:8000/api/user_register/
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    "test registered"
                </div>
            </div>

            <p>Api Access URL:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    http://127.0.0.1:8000/api/user_register/
                </div>
            </div>
            <p>When user login with token, can access and update detailed information of User:</p>

            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl http://127.0.0.1:8000/api/user_register/ -H 'Authorization: Token
                    b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    [{"username":"test","first_name":"","last_name":"","is_active":true,"email":"a@a.com","is_superuser":false,"is_staff":false,"last_login":"2015-06-25T12:14:26.234Z","password":"pbkdf2_sha256$20000$0K8Yj0edbvzA$wjOy3piA/qvCp9H86dRgixI/2zRWh2XUdHT6nXSd8CY=","id":1,"date_joined":"2015-06-25T12:06:56.085Z"}]
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -H 'Content-Type: application/json' -X PUT
                    http://127.0.0.1:8000/api/user_register/1/ -d
                    '{"username":"as","password":"as","email":"as@as.com"}' -H
                    'Authorization: Token b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    {"info":"Account Settings Changed"}
                </div>
                <div class="panel-body"><span class="label label-info">INFO:</span>
                    User can add additional fields "first_name":"Your Name","last_name":"Your Last Name"
                </div>
            </div>
        </div>

        <div class="row">
            <div class="page-header"><h3>Login Api</h3></div>
            <p>User can login to blog with <a href="{% url 'api_view' %}login">this</a> api.</p>

            <p>Example Usage:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    curl -X POST --data "username=as&password=as" http://127.0.0.1:8000/api/login/
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    {"token":"b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f","detail":"User Loged In"}
                </div>
            </div>

            <p>Api Access URL:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    http://127.0.0.1:8000/api/login/
                </div>
            </div>

        </div>
        <div class="row">
            <div class="page-header"><h3>Logout Api</h3></div>
            <p>User can logout with <a href="{% url 'api_view' %}logout">this</a> api.</p>

            <p>Example Usage:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    curl -X GET http://127.0.0.1:8000/api/logout/ -H 'Authorization: Token
                    b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    {"info":"User Loged Out and Token deleted!"}
                </div>
            </div>

            <p>Api Access URL:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    http://127.0.0.1:8000/api/logout/
                </div>
            </div>

        </div>

        <div class="row">
            <div class="page-header"><h3>Category Api</h3></div>
            <p>User can list categories and if loged in, add and update new categories with <a
                    href="{% url 'api_view' %}category">this</a> api.</p>

            <p>Example Usage:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    curl -X GET http://127.0.0.1:8000/api/category/
                </div>
            </div>

            <p>Api Access URL:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    http://127.0.0.1:8000/api/category/
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -X GET http://127.0.0.1:8000/api/category/
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    CATEGORY LIST
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -H 'Content-Type: application/json' -X POST
                    http://127.0.0.1:8000/api/category/ -d
                    '{"cat_name":"TEST"}' -H
                    'Authorization: Token b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    ADDED CATEGORY
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -H 'Content-Type: application/json' -X PUT
                    http://127.0.0.1:8000/api/category/1/ -d
                    '{"cat_name":"TEST"}' -H
                    'Authorization: Token b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    UPDATED CATEGORY
                </div>
            </div>

        </div>


        <div class="row">
            <div class="page-header"><h3>Post Api</h3></div>
            <p>User can list posts and if loged in, add and update new posts with <a
                    href="{% url 'api_view' %}post">this</a> api.</p>

            <p>Example Usage:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    curl -X GET http://127.0.0.1:8000/api/post/
                </div>
            </div>

            <p>Api Access URL:</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    http://127.0.0.1:8000/api/post/
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -X GET http://127.0.0.1:8000/api/post/
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    POST LIST
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -H 'Content-Type: application/json' -X POST
                    http://127.0.0.1:8000/api/post/ -d
                    '{"cat_title":"TEST","cat_content":"TEST CONTENT"}' -H
                    'Authorization: Token b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    ADDED POST
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -H 'Content-Type: application/json' -X PUT
                    http://127.0.0.1:8000/api/post/1/ -d
                    '{"post_tittle":"TEST","post_content","asdasd","post_cat":1}' -H
                    'Authorization: Token b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    UPDATED POST
                </div>
            </div>

        </div>

        <div class="row">
            <div class="page-header"><h3>Comment Api</h3></div>
            <p>User can add comments and if loged in, verify and delete comments with this api.</p>

            <p>Example Usage:</p>


            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -X GET http://127.0.0.1:8000/api/comment/1
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    COMMENT LIST THAT POST ID = 1
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -H 'Content-Type: application/json' -X POST
                    http://127.0.0.1:8000/api/comment/1 -d
                    '{"email":"a@a.com","comment":"casdasdasd"}' -H
                    'Authorization: Token b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    ADDED COMMENT
                </div>
                <div class="panel-body"><span class="label label-info">INFO:</span>
                    User can add additional field "vote":true/false if True then Post Like else Dislike
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -H 'Content-Type: application/json' -X GET
                    http://127.0.0.1:8000/api/comment_verify/1/ -H
                    'Authorization: Token b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    COMMENT VERIFED THAT COMMENT ID=1
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body"><span class="label label-primary">COMMAND:</span>
                    curl -H 'Content-Type: application/json' -X GET
                    http://127.0.0.1:8000/api/comment_delete/1/ -H
                    'Authorization: Token b01ceb5af3ae87c9a0245cf3e1a9e573e4683b2f'
                </div>
                <div class="panel-body"><span class="label label-success">RESPONSE:</span>
                    COMMENT DELETED THAT COMMENT ID=1
                </div>
            </div>
        </div>


    </div>

{% endblock %}