{% extends 'managermaster.html' %}
{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="well bs-component">
            <form id="category_form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control" type="submit" value="Apply"/>
            </form>
        </div>
    </div>
{% endblock %}