{% extends 'managermaster.html' %}
{% block content %}
    <a href="{% url 'cat_add' %}">Add New Category</a>
    <br/>


    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Cat, ID</th>
            <th>Category Name</th>
            <th>Category Edit</th>
            <th>Category Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for c in categories reversed %}
            {% if not c.cat_name in "Uncategorized" %}
            <tr class="active">
                <td>{{ c.pk }}</td>
                <td><a href="{% url 'cat_edit' c.cat_slug %}">
                    {{ c.cat_name }}
                </a></td>
                <td><a href="{% url 'cat_edit' c.cat_slug %}">
                    Edit
                </a></td>
                <td> <a href="{% url 'cat_delete' c.cat_slug %}">
            Delete
        </a></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}