{% extends 'master.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="col-md-6 col-md-offset-3">

            <div class="well bs-component">

                <fieldset>
                    <legend>Login</legend>
                    <div class="alert alert-danger">

                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}

                            </ul>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Username</label>

                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="username">
                             <br/>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPassword" name="password"
                                   placeholder="Password">
                            <br/>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>

                                <a class="btn btn-primary" href="{% url 'post_list' %}">Cancel</a></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
{% endblock %}