<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <!-- jQuery library -->
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EgemBlog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'post_list' %}">Home </a></li>
                <li><a href="{% url 'api_view' %}">REST API </a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Managers
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="{% url 'post_manager' %}">Post Manager</a></li>
                        <li><a href="{% url 'cat_manager' %}">Category Manager</a></li>

                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li></li>
                    <li><a href="{% url 'settings' %}" data-toggle="tooltip" data-placement="bottom" title=""
                           data-original-title="Account Settings">Welcome, {{ user.username }}</a></li>
                    <li><a href="">|</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div style="margin-left: 5px;margin-right: 5px">


    {% block content %}
    {% endblock %}
</div>
</body>
</html>
</body>
</html>