
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <!-- jQuery library -->
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
</head>
<body>

    <div style="margin-left: 5px;margin-right: 5px">
        

    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
</body>
</html>