{% extends 'managermaster.html' %}
{% block content %}
<form id="login_form" method="post">
            {% csrf_token %}
            <b>Are you sure ?</b>
            <input type="submit" name="yes_post" value="Yes" />
            <input type="submit" name="no_post" value="No" />
        </form>
{% endblock %}