{% extends 'managermaster.html' %}
{% block content %}
    <a href="{% url 'post_add' %}">Add New Post</a>
    <br/>


    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Post, ID</th>
            <th>Post Tittle</th>
            <th>Post Edit</th>
            <th>Post Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for c in postlist reversed %}
            <tr class="active">
                <td>{{ c.pk }}</td>
                <td>
                    {{ c.post_tittle }}
                </td>
                <td><a href="{% url 'post_edit' c.pk %}">
                    Edit
                </a></td>
                <td> <a href="{% url 'post_delete' c.pk %}">
            Delete
        </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}