{% extends 'managermaster.html' %}
{% block content %}
<div class="col-md-8 col-md-offset-2">


    <div class="well bs-component">
        <form id="post_form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Apply"/>
        </form>
    </div>
    </div>
{% endblock %}
