{% extends 'master.html' %}
{% load staticfiles %}



{% block content %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EgemBlog</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'post_list' %}">Home </a></li>
                <li><a href="{% url 'api_view' %}">REST API </a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'post_manager' %}">Post Manager</a></li>
                        <li><a href="{% url 'cat_manager' %}">Category Manager</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">


                            {% for c in catas %}
                                <li><a href="{% url 'post_cat_list' c.cat_slug %}"> {{ c.cat_name }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'settings' %}" data-toggle="tooltip" data-placement="bottom" title=""
                               data-original-title="Account Settings">Welcome, {{ user.username }}</a></li>
                        {% if imgp in 'null_image' %}
                            <li><img src="{% static 'default.png' %}" width="30" height="30" style="margin-top: 10px"/>
                            </li>

                        {% else %}
                            <li><img src="{{ imgp }}" width="30" height="30" style="margin-top: 10px"/></li>

                        {% endif %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="col-md-8 col-md-offset-2">

        <div class="well bs-component">
            <h2>
                <div>
                    <a style="text-decoration: none"
                       href="{% url 'post_detail' posts.post_cat.cat_slug posts.pk %}">{{ posts.post_tittle }}</a>


                </div>
            </h2>
            <p class="text-info">Published: {{ posts.post_pub_date }} | Edited: {{ posts.post_edit_date }}</p>

            <p class="text-info"><span class="label label-success">Author: {{ posts.post_usr.username }}</span> | <span
                    class="label label-success">Category:{{ posts.post_cat.cat_name }}</span> | <img
                    src="{% static 'like.png' %}">
                Like : <span class="badge">{{ posts.post_like }}</span>
                <img
                        src="{% static 'dlike.png' %}"> Dislike : <span
                        class="badge">{{ posts.post_dislike }}</span></p>

            <p>


            </p>

            <div>{{ posts.post_content }}</div>


            <br/>
            <br/>

            <div>
                <form id="tttt" method="post">
                    {% csrf_token %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <input type="hidden" value="{{ posts.pk }}" name="pty">
                    {{ com_form.as_p }}
                    <select name="vote" class="form-control default">
                        <option value="Like">Like</option>
                        <option value="Dislike">Dislike</option>
                    </select>
                <br/>
                    <input class="btn btn-primary" type="submit" value="submit"/>
                </form>
            </div>


        </div>
    </div>

    <br/>
    <br/>


    <div>

        {% for c in comments reversed %}
            <div class="col-md-8 col-md-offset-2">

                <div class="well bs-component">
                    <h4>{{ c.email }}   {% if not c.comment_isValid %}-
                        <a href="{% url 'comment_verify' posts.post_cat.cat_slug posts.pk c.pk %}">Verify</a>  {% endif %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'comment_delete' posts.post_cat.cat_slug posts.pk c.pk %}">Delete</a>{% endif %} </h4>

                    <div>{{ c.comment }}</div>

                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}





