{% extends 'master.html' %}

{% block content %}

    {% if registered %}
        IMG URL {{ kel }}
        <img src="{{ kel }}" height="55" width="55"/>

    {% else %}

        <div class="col-md-4 col-md-offset-4">

            <div class="well bs-component">
                <form id="user_form" method="post"
                      enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <div>
                        <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
                        <a class="btn btn-primary" href="{% url 'post_list' %}">Cancel</a></div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

