{% extends 'master.html' %}

{% block content %}

    {% if registered %}
        IMG URL {{ kel }}
        <img src="{{ kel }}" height="55" width="55"/>

    {% else %}

        <div class="col-md-4 col-md-offset-4">

            <div class="well bs-component">
                <form id="user_form" method="post"
                      enctype="multipart/form-data">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}

                        </ul>
                    {% endif %}
                    {% csrf_token %}
                    <div class="alert alert-dismissible alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        After update you must login!
                    </div>
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <div>
                        <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
                        <a class="btn btn-primary" href="{% url 'post_list' %}">Cancel</a></div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

